@charset "UTF-8";

@font-face {
    font-family:'font-apple-bold';
    src: url(fonte/sf-pro-display/SFPRODISPLAYBOLD.OTF) format('truetype');
}

@font-face{
    font-family: 'font-apple-medium';
    src: url(fonte/sf-pro-display/SFPRODISPLAYMEDIUM.OTF) format('truetype');
}
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

/* Media Query para telas maiores que 768px */
@media (min-width: 768px) {
    .quem-somos{
        text-align: center;
        margin-right: 70px;
        margin-left: 70px;  
    }

    .quem-somos>p>strong{
        color: #44aa00;
    }
}

/* Media Query para telas menores que 768px */
@media (max-width: 768px){

}

body {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.navbar {
    position: sticky;
    border-radius: 0px 0px 15px 15px;
    top: 0; 
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #44aa00;
    padding: 12px 24px;
    margin-bottom: 20px;
    
    z-index: 1000;
}

.logo h1{
    color: #fff;
}

.nav-left {
    display: flex;
    gap: 12px;
}

.nav-btn {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
}

.nav-btn>a{
    text-decoration: none;
    color: #fff;
}

.nav-btn:hover {
    background-color: #555;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right>a {
    color: #fff;
}

i.material-icons{
font-size: 30px;
}


/* Esconder o botão de menu por padrão */
.menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 100%;

    text-decoration: none;
}

.container>a{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    text-decoration: none !important;
    color: white;
}


.bar {
    width: 90%; /* Largura das barras */
    height: 25vh;

    border: none;
    border-radius: 12px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    transition: .2s;
}

.bar>p{
    font-size: 35px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 25px;
    font-family: 'font-apple-bold', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.bar>p>img{
    width: 115px;
    border-radius: 15px;
}

.bar:hover{
    transform: scale(1.05);
    cursor: pointer;
    outline: none;

    backdrop-filter: blur(40%);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.bar:active{
    transform: scale(.95);
    transition: 0s linear;

}


#peito{
    background-image: url(imgs/treinopeito.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#ombro{
    background-image: url(imgs/treinoombro.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#bracos{
    background-image: url(imgs/treinobraco.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#costas{
    background-image: url(imgs/treinocostas.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#abdomen{
    background-image: url(imgs/treinoabdomen.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#perna{
    background-image: url(imgs/treinoperna.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}


.quem-somos{
    font-family: 'font-apple-bold', sans-serif;
    padding-top: 50px;
}

.quem-somos>h1{
    padding-left: 15px;
}

.quem-somos>h1>strong{
    padding-left: 15px;
}

.quem-somos>p{
    text-align: justify;
    padding: 20px;
    font-size: 20px;
}

.quem-somos>p>strong{
    color: #44aa00;
}

/* Estilo para telas menores que 340px */
@media (max-width: 340px) {
    /* A navbar será flex-direction row, mas com o conteúdo organizado por ordem */
    .navbar {
        flex-direction: row-reverse;
        justify-content: space-between; /* Elementos espaçados corretamente */
    }

    /* O "iconi" estará centralizado */
    .iconi {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Os botões escondidos inicialmente, com animação para aparecer */
    .nav-left {
        display: none;
        position: absolute;
        top: 60px;
        right: 0; /* Alinhando os botões à direita */
        width: auto; /* Não ocupar toda a largura */
        background-color: #333;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        
    }

    /* Ao ativar o menu, os botões aparecem com animação */
    .nav-left.active {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        padding-bottom: 15px;
        top: 57px;
        border-radius: 15px;
        padding-top: 15px;
    }

    /* O botão de menu ficará à esquerda */
    .menu-btn {
        display: block;
    }

    /* O nav-right com o ícone de logout fica à direita */
    .nav-right {
        display: flex;
        justify-content: flex-end;
    }
}


/* Media Query para telas maiores que 769px */
@media (min-width: 769px) {
    /* Estilos para telas maiores, se necessário */
}
