@charset "UTF-8";

/* Media Query para telas menores que 768px */
@media (max-width: 768px) {
    body {
        margin: 0;
        background: linear-gradient(180deg, rgb(37, 37, 37) 60%, rgba(58,181,73,1) 90%);
        height: 100vh;
        overflow: hidden; /* Impede rolagem */
    }
    
    .logo {
        display: flex;
        justify-content: center;
        padding-top: 20px; /* Ajuste o padding se necessário */
    }

    .imagem {
        max-height: 40vh; /* A imagem ocupará até 40% da altura da tela */
        width: auto; /* Ajusta a largura automaticamente */
    }

    .container {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        padding-bottom: 20px; /* Ajuste o padding se necessário */
    }
    
    .login-box {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 90%; /* Largura responsiva */
        max-width: 300px; /* Largura máxima */
    }
    
    h2 {
        margin: 0 0 15px;
        text-align: center;
    }
    
    .input-group {
        margin-bottom: 15px;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    input {
        width: 95%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 15px;
    }
    
    a{
        width: 100%;
        padding: 10px;
        background-color: #4bbd1e; 
        color: black;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 700;
        letter-spacing: 2px;
        text-decoration: none;
        color: black;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: block;
        width: 94%;
        text-align: center;
    }
    
    a:hover {
        background-color: #488529; 
    }
}

/* Media Query para telas maiores que 769px */
@media (min-width: 769px) {
    /* Estilos para telas maiores, se necessário */
}
