@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* logo ficar mais centralizada conforme o tamanho do celula */
@media (min-height: 600px) {
    .imagem {
        
        padding-top: 50px;
    }
}
/* Media Query para telas menores que 768px */
@media (max-width: 768px) {
    body {
        margin: 0;
        background: linear-gradient(180deg, rgb(37, 37, 37) 60%, rgba(58,181,73,1) 90%);
        height: 100vh;
        overflow: hidden; /* Impede rolagem */
    }
    
    .logo {
        display: flex;
        justify-content: center;
    }

    .imagem {
        max-height: 40vh; /* A imagem ocupará até 40% da altura da tela */
        width: auto; /* Ajusta a largura automaticamente */
    }

    .container {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        padding-bottom: 20px; /* Ajuste o padding se necessário */
    }
    
    .login-box {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 90%; /* Largura responsiva */
        max-width: 300px; /* Largura máxima */
    }
    
    h2 {
        margin: 0 0 15px;
        text-align: center;
    }
    
    .input-group {
        margin-bottom: 15px;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
    }

    i.material-icons {
        font-size: 16px;   /* Tamanho do ícone */
        color: rgba(58,181,73,1);        /* Cor do ícone */
        margin: 8px;      /* Margem ao redor do ícone */
      }
    
    input {
        width: 95%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 15px;
    }
    
    a{
        padding: 10px;
        background-color: #4bbd1e; 
        border: none;
        border-radius: 4px;
        cursor: pointer;
        letter-spacing: 1px;
        text-decoration: none;
        color: white;
        font-family: "Poppins", sans-serif;
        display: block;
        width: 94%;
        text-align: center;
        font-weight: 800;
    }
    
    a:hover {
        background-color: #488529; 
    }

    @supports (-webkit-appearance: none) {
        a {
            -webkit-appearance: none; /* Remover estilo padrão do Safari */
            appearance: none;
        }
    }
}

/* Media Query para telas maiores que 769px */
@media (min-width: 769px) {
    /* Estilos para telas maiores, se necessário */
}



