@charset "UTF-8";

@font-face {
    font-family:'font-apple-bold';
    src: url(../../fonte/sf-pro-display/SFPRODISPLAYBOLD.OTF) format('truetype');
}

@font-face{
    font-family: 'font-apple-medium';
    src: url(../../fonte/sf-pro-display/SFPRODISPLAYMEDIUM.OTF) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #44aa00;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 0px 0px 15px 15px;
    height: 60px;
    position: fixed;
    background: rgb(0,0,0);
    background: linear-gradient(24deg, rgba(0,0,0,1) 0%, rgba(34,50,39,1) 68%, rgba(50,93,34,1) 100%);
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .logo {
    width: 70px;
    height: 70px;
  }

  .logo>img{
    width: 70px;
  }
  
  .menu-icon {
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .menu-options {
    list-style: none;
    position: absolute;
    top: 60px;
    right: 5px;
    background-color: #223227;
    border-radius: 5px;
    max-height: 0; /* Inicialmente escondido */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; /* Animação de expansão */
    text-align: center;
  }
  
  .menu-options li {
    padding: 10px 20px;
    border-bottom: 3px solid #444;
  }

  .menu-options div{
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .menu-options li:last-child {
    border-bottom: none;
  }
  
  .menu-options a {
    color: #44aa00;
    text-decoration: none;
    transition: color 0.3s;
    font-family: 'font-apple-bold', sans-serif;
    font-size: 1.1em;
  }
  
  .menu-options a:hover {
    color: #44aa00;
  }
  
  .menu-options.show {
    display: flex;
    max-height: 200px; /* Limite de altura ao expandir */
    flex-direction: column;
    color: #44aa00;
    align-items: center;
  }

  .treinos{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .treinos>div{
    margin-bottom: 170px;
  }
  
  .treinos>div>h1{
    font-size: xx-large;
    font-family: 'font-apple-bold', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  .treinos>div>h3>strong{
    color: #44aa00;
  }

  .treinos>div>h3{
    text-align: justify;
  }

  .treinos>div>img{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    border: solid;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 2px;
  }

  .treinos>div>p{
    text-align: center;
  }